*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  background-color: #090616;
  font-family: Bekeley;
  height: fit-content;
}
@font-face {
  font-family: Bekeley;
  src: url('../src/assets/fonts/BerkeleyMono-Regular.ttf');
}
@font-face {
  font-family: Bekeley-bold;
  src: url('../src/assets/fonts/BerkeleyMono-Bold.ttf');
}
p{
  margin-bottom: 0;
}

input, button{
  outline: none;
}
button:focus{
  outline: none;
}
label{
  margin-bottom: 0;
}
.bold-font{
  font-weight: 700;
}
.fund_channel{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.liquidity{
  padding: 27px 0px !important;
}
.ligtning_node{

    display: flex;
    justify-content: center;
    margin-top: 150px !important;
    align-items: center;
    flex-direction: column;
}

.h-full-view{
  height: 100vh;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .ligtning_node {
      margin-top: 50px !important;
  }

  /* Add any other mobile-specific styles here */
}
